/* img{
  float: left;
} */
/* .sidebar{
  width: 30%;
  float: left;
  background-color: yellow;
} */
*{
  background-color: aqua;
}
h1{
  color: blueviolet;
  text-align: center;
}
.column{
  width: 350px;
  float: left;
  padding: 50px;
}